<div class="container">
<p>
  <strong>Division:</strong>
  <%= @division.name %>
</p>

<% if can? :edit, @division %>
<%= link_to 'Edit', edit_division_path(@division) %> |
<% end %>
<%= link_to 'Back', divisions_path %>
</div>
