<p>
  <strong>Price Name:</strong>
  <%= @price.name %>
</p>

<p>
  <strong>Cost:</strong>
  $<%= @price.cost %> per month
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
